# Approvers to .js .css .html files
*.js @LucasBergholz @igorpenhaa
*.html @LucasBergholz @igorpenhaa
*.css @LucasBergholz @igorpenhaa

# Approvers to .py files
*.py @BrunoRiibeiro @gitbmvb @diogjunior100 @RafaelN0bre

# Approvers to src files
/src/ @BrunoRiibeiro @gitbmvb @diogjunior100 @RafaelN0bre

# Approver to modules files
/src/ez_docs/modules @RafaelN0bre

# Approvers to cmd files
/src/ez_docs/cmd @BrunoRiibeiro @gitbmvb

# Approver to .github files
/.github/ @BrunoRiibeiro

# Approver to docs files
/docs/ @BrunoRiibeiro
