body {
  font-family: 'Raleway', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 img{
  width: 844px;
  height: 696px;
  display: inline-block;
  padding: 3px 5px;
  background-color: #582fd7;
  color: #0b0a0a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 30px;
}

.heading_container h2::before {
  display: inline-block;
  padding: 3px 5px;
  background-color: #582fd7;
  color: #080707;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 30px;
}

/*header section*/
.hero_area {
  height: 100vh;
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden;
}

.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  overflow-x: hidden;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_section .user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_section .user_option a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_section .user_option a img {
  min-width: 20px;
  height: 20px;
  margin-right: 5px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  color: #060606;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  color: #582fd7;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 35px;
  margin-right: 10px;
}

.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
  font-size: 22px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  height: 80px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 50px;
  width: 30px;
  height: 30px;
}

.lg_toggl-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 56px;
  height: 40px;
  cursor: pointer;
}

.lg_toggl-btn:focus {
  outline: none;
}

.User_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 35px;
}

.User_option a {
  color: #ffffff;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 0;
  top: 7px;
}

.custom_menu-btn button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 7px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10px;
}

.menu_btn-style {
  position: fixed;
  right: 14px;
  top: 7px;
}

.custom_menu-btn .s-2 {
  -webkit-transition: all .1s;
  transition: all .1s;
  margin-left: -12px;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translateY(17px);
          transform: rotate(45deg) translateY(17px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translateY(-17px);
          transform: rotate(-45deg) translateY(-17px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(93, 42, 225, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
}

.overlay a:hover {
  color: #30f7fe;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

/*end header section*/
/* slider section */
.slider_section {
  color: #ffffff;
  margin-top: 80px;
}

.slider_section .container {
  position: relative;
  z-index: 2;
}

.slider_section h1{
  color: #46c5eb;
  font-weight: bold;
  font-size: 70px;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .img-box {
  width: 80%;
  margin-left: auto;
}

.slider_section .img-box img {
  width: 100%;
}

.service_section {
  text-align: center;
}

.service_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  flex-direction: column;
}

.service_text{
  margin-top: 30px;
}

.code_text{
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  font-weight: bold;
  margin: auto;
  padding-top: 1%;
  height: 40px;
  width: 400px;
  background-color: #000000;
  border: 3px solid #46c5eb;
  color: #ffffff;

}

.img_database{
  border: 3px solid #46c5eb;
  margin-bottom: 25px;
}

.ct2{
  width: 500px;
  height: 60px;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.ct3{
  padding-top: 1%;
  padding-left: 1.2%;
  padding-right: 1.2%;
  width: 75%;
  height: 40px;
  margin-bottom: 20px;
}

.git_button{
  background-color: #84c6da;
  border: 1px solid black;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.git_button a{
  color: #000000;
}

.git_button img{
  height: 90%;
}

.service_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.service_section .service_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
  margin: 0 -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service_section .service_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 15px;
  -ms-flex-preferred-size: 30.77%;
      flex-basis: 30.77%;
  min-width: 280px;
}

.service_section .service_container .box .img-box {
  width: 75px;
  height: 75px;
}

.service_section .service_container .box .img-box svg {
  width: 100%;
  height: auto;
}

.service_section .service_container .box .detail-box {
  margin-top: 20px;
}

.service_section .service_container .box .detail-box h5 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.service_section .service_container .box:hover h5 {
  color: #582fd7;
}

.service_section .service_container .box:hover svg {
  fill: #582fd7;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #582fd7;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 30px;
}

.service_section .btn-box a:hover {
  background-color: transparent;
  border-color: #582fd7;
  color: #582fd7;
}

.feature_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.feature_container h2{
  color: #000000;
  position: relative;
  font-size: 2.5rem;
}

.feature_container h2::before{
  content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 45%;
    background-color: rgb(37, 37, 37);
}

.feature_container2 h2{
  color: #000000;
  position: relative;
  font-size: 2.5rem;
}

.feature_container2 h2::before{
  content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 47%;
    background-color: rgb(37, 37, 37);
}

.feature_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature_section .img-box {
  width: 85%;
}

.feature_section .img-box img {
  width: 100%;
}

.team_section {
  background-color: #f7f7f7;
}

.detail-box a{
  color: #000000;
  font-size: 25px;
}

.detail-box a:visited{
  color: black;
}

.detail-box a:hover{
  color: #582fd7;
}

.team_section .heading_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: -40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team_section .heading_container h2{
  font-size: 43px;
  color: #000000;
  position: relative;
}

.team_section .heading_container p{
  margin-top: 20px;
}

.team_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.team_section .box {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.team_section .box .img-box {
  position: relative;
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_section .box .img-box img {
  width: 100%;
  border: 2px solid #000000;
}

.team_section .box .detail-box {
  margin-top: 15px;
}

.team_section .box .detail-box h6 {
  color: #582fd7;
}

.team_section .carousel-wrap {
  margin: 0 auto;
  padding: 0 5%;
  position: relative;
}

.team_section .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.team_section .owl-carousel .owl-nav .owl-prev,
.team_section .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  background-color: #dad9d7;
  background-size: 9px;
  background-position: center;
  border-radius: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  outline: none;
}

.team_section .owl-carousel .owl-nav .owl-prev:hover,
.team_section .owl-carousel .owl-nav .owl-next:hover {
  background-color: #582fd7;
}

.team_section .owl-carousel .owl-nav .owl-prev {
  background-image: url(../images/prev.png);
  left: -10%;
}

.team_section .owl-carousel .owl-nav .owl-prev:hover {
  background-image: url(../images/prev-white.png);
}

.team_section .owl-carousel .owl-nav .owl-next {
  right: -10%;
  background-image: url(../images/next.png);
}

.team_section .owl-carousel .owl-nav .owl-next:hover {
  background-image: url(../images/next-white.png);
}

.team_section .owl-carousel .owl-dots.disabled,
.team_section .owl-carousel .owl-nav.disabled {
  display: block;
}

/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fdfeff;
}

.footer_section p {
  color: #171717;
  margin: 0;
  padding: 25px 0 20px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
}

.footer_section a {
  color: #171717;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */

/* contribution.html section */

#main_title{
  font-size: 60px;
  margin-top: 50px;
}

#code_text{
  margin-bottom: 40px;
}

#ct_var{
  height: auto;
  width: auto;
  text-align: left;
  padding: 2% 2%;
  margin-bottom: 40px;
  font-family: "Consolas";

  background-color: #000000;
  border: 3px solid #46c5eb;
  color: #ffffff;
}


/* end contribution.html section*/